<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>teste</title>
</head>
<body>
<h2>Num é possivel</h2>

<div class="card-body">
    <div th:block th:each = "user:${usuario}"></br>
        <div   th:text = "${user.cpf}"></div></br>
        <div   th:text = "${user.nome}"></div></br>
        <div   th:text = "${user.email}"></div></br>
        <div   th:text = "${user.dt_cadastro}"></div></br>
        <div><a href="#" class="btn btn-warning"></a>Alterar<a href="#" class="btn btn-danger"></a>Excluir</div>
    </div>
</div>

</body>
</html>